.side-bar {
  background-color: var(--gray-h-2);
  width: 350px;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  overflow: auto;
}
.side-bar .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  margin-top: 3rem;
  width: 100%;
  gap: 10px;
}
.side-bar .links .link {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  color: var(--gray-h-1);
  text-decoration: none;
  transition: all 0.3s ease;
  width: 100%;
  color: var(--gray-1);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px; /* 144.444% */
}
.side-bar .links .link:hover {
  border-radius: 12px;
  background: var(--primary-1);
  color: white;
}
.test {
  color: white;
}

.side-bar .links .active {
  border-radius: 12px;
  background: var(--primary-1);
  color: white;
}
