@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --primary-1: #00ddaf;
  --gray-1: #838e9e;
  --gray-h-2: #243752;
  --gray-h-3: #e6e8ec;
  --secondary-h-4: #12224f;
  --secondary-1: #092674;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background: #f8f8fb;
  font-family: "Lexend", sans-serif;
}

body {
  font-family: "Lexend", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.teacher-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
.hover:hover {
  cursor: pointer;
}
.page-content {
  width: 100%;
  padding: 20px;
}
.teacher-container-ar {
  direction: rtl;
}
